
<%- include('header') %>

<main class="main">
    <section class="banner container mb-20 mt-100" style="background-image: url('/admin/assets/bannerImages/<%= banner.image[0] %>');">
        
    </section>
    
    <section class="featured section-padding">
        <div class="container pb-25">
            <div class="row">
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop"> 
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </a> 
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </a>
                   
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <a href="/shop">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/users/assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="product-tabs section-padding wow fadeIn animated">
        <div class="container">
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        <% products.forEach(function(product) { %>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/productDetail?id=<%- product._id %>">
                                            <img class="default-img" src="/admin/assets/productsImages/<%- product.image[0] %>" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?productId=<%- product._id %>"><i class="fi-rs-heart"></i></a>
                                    </div>
                                    
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="#"><%- product.brandName %></a>
                                      </div>
                                    
                                    <h2><a href="shop-product-right.html"><%= product.productName %></a></h2>
                                        
                                    
                                    <div class="product-price">
                                        <span>$<%= product.salePrice %></span>
                                        <span class="old-price">$<%= product.regularPrice %></span>
                                    </div>
                                    <div class="product-action-1 show">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    
    <section class="pt-25 pb-35">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    <% products.forEach(function(product) { %>
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="/productDetail?id=<%- product._id %>">
                                    <img class="default-img" src="/admin/assets/productsImages/<%- product.image[0] %>" alt="">
                                    
                                </a>
                            </div>
                            <div class="product-action-1">
                                
                                <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="/addToWishlist?productId=<%- product._id %>" tabindex="0"><i class="fi-rs-heart"></i></a>
                            </div>
                            
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="#"><%= product.productName %></a></h2>
                            <div>
                                <a href="#"><%- product.brandName %></a>
                            </div>
                            <div class="product-price">
                                <span>$<%= product.salePrice %></span>
                                <span class="old-price">$<%= product.regularPrice %></span>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
    
</main>
    
<%- include('footer') %>